<form name="ctrl.form" role="form" ng-submit="ctrl.save(form)">	
	<div class="row">
		<div class="form-group col-md-6">
			<label for="nome" class="control-label">Nome</label>
			<input type="text"
				name="nome"
				ng-model="ctrl.cliente.nome"				
				maxlength="60"
				ng-maxlength="60"
				ng-required="true"
				class="form-control"
				placeholder="Nome"
				autocomplete="off"				
				auto-focus	/>
		</div>
	</div>
	<div class="row">		
		<div class="form-group col-md-2">
			<label for="tipoPessoa" class="control-label">Tipo</label>
			<select name="tipoPessoa"				
				ng-model="ctrl.cliente.tipo"
				ng-required="true"				
				ng-options="tp as tp.descricao for tp in ctrl.tiposPessoa track by tp.value"				
				class="form-control">
			</select>
		</div>
		<div ng-if="ctrl.cliente.tipo.value === 'FISICA'">
			<div class="form-group col-md-2">
				<label for="cpf" class="control-label">CPF</label>
				<input type="text"
					name="cpf"
					ng-model="ctrl.cliente.cpf"
					placeholder="CPF"
					ng-required="false"
					autocomplete="off"
					ui-br-cpf-mask
					class="form-control" />
			</div>
			<div class="form-group col-md-2">
				<label for="rg" class="control-label">RG</label>
				<input type="text"
					name="rg"
					ng-model="ctrl.cliente.rg"
					placeholder="RG"
					ng-required="false"
					autocomplete="off"
					class="form-control"/>
			</div>
		</div>		
		<div ng-if="ctrl.cliente.tipo.value === 'JURIDICA'">
			<div class="form-group col-md-2">
				<label for="cnpj" class="control-label">CNPJ</label>
				<input type="text"
					name="cnpj"
					ng-model="ctrl.cliente.cnpj"
					placeholder="CNPJ"
					ng-required="false"
					autocomplete="off"
					ui-br-cnpj-mask
					class="form-control" />
			</div>
			<div class="form-group col-md-2">
				<label for="ie" class="control-label">IE</label>
				<input type="text"
					name="ie"
					ng-model="ctrl.cliente.ie"
					placeholder="Insc. Estatudal"
					ng-required="false"
					autocomplete="off"
					digits				
					ui-number-mask="0"
					ui-hide-group-sep
					class="form-control"/>
			</div>
		</div>
	</div>
	<div class="row">  		
    	<div class="col-md-4">
       		<div class="panel panel-default">
				<div class="panel-heading">Telefone(s)</div>
  				<div class="panel-body">
  					<div class="row" ng-repeat="t in ctrl.cliente.telefones track by $index">
		  				<div class="form-group col-md-7">
							<input type="text"
								ng-model="ctrl.cliente.telefones[$index]"
								placeholder="Telefone"
								ng-required="true"
								autocomplete="off"
								ui-br-phone-number	
								class="form-control" />								
						</div>
						<button type="button" class="btn btn-danger"  ng-confirm-message="Confirma a exclusão?" ng-confirm="ctrl.removeTelefone($index)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
					<button type="button" class="btn btn-default" ng-click="ctrl.addTelefone()">Adicioar Telefone</button>
  				</div>
  			</div>
    	</div>
		<div class="col-md-6">
			<div class="col-md-12">
		    	<div class="panel panel-default">
					<div class="panel-heading">E-mail(s)</div>
  					<div class="panel-body">
  						<div class="row" ng-repeat="t in ctrl.cliente.emails track by $index">
				  			<div class="form-group col-md-8">
								<input type="email"
									ng-model="ctrl.cliente.emails[$index]"
									placeholder="E-mail"
									ng-required="true"
									autocomplete="off"	
									class="form-control" />							
							</div>
							<button type="button" class="btn btn-danger"  ng-confirm-message="Confirma a exclusão?" ng-confirm="ctrl.removeEmail($index)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
						<button type="button" class="btn btn-default" ng-click="ctrl.addEmail()">Adicioar E-mail</button>
  					</div>
  				</div>
		   	</div>
		</div>
	</div>
	<div class="row">
     	<div class="col-md-12">
        	<div class="panel panel-default">
				<div class="panel-heading">Endereço(s)</div>
	 			<div class="panel-body">
	 				<div class="row" ng-repeat="e in ctrl.cliente.enderecos track by $index">
	 					<div class="form-group col-md-2">
				  			<select ng-model="e.tipoEndereco"
								ng-required="true"
								ng-options="te as te.descricao for te in ctrl.tiposEndereco track by te.value"
								class="form-control">
							</select>
						</div>						
<!-- 						<button type="button" class="btn btn-danger"  ng-confirm-message="Confirma a exclusão?" ng-confirm="ctrl.removeEmail($index)"> -->
<!-- 							<span class="glyphicon glyphicon-trash"></span> -->
<!-- 						</button> -->
					</div>
					<button type="button" class="btn btn-default" ng-click="ctrl.addEndereco()">Adicioar Endereço</button>
	 			</div>
	 		</div>
     	</div>  		
  	</div>  	
	<div class="row col-md-12">
		<hr />
		<div class="col-md-12">
	  		<button type="submit" class="btn btn-primary">Salvar</button>
			<a ui-sref="cliente" class="btn btn-default">Cancelar</a>
	  	</div>
	</div>		
</form>