<form name="ctrl.form" role="form" ng-submit="ctrl.save()" novalidate>	
	<div class="row">
		<div class="form-group col-md-1" ng-if="ctrl.tipoServico.id">  	  		
			<p>
				<strong>Id</strong>
			</p>
			<p>{{ctrl.tipoServico.id}}</p>
		</div>
		<div class="form-group col-md-6" show-errors>	
			<label for="descricao" class="control-label">Descrição</label>  		
			<input type="text"
				id="frmDesc"
				name="descricao"
				ng-model="ctrl.tipoServico.descricao"
				ng-required="true"
				ng-minlength="7"
				class="form-control"
				placeholder="Descrição" 
				autocomplete="off" 
				auto-focus />
			<error-messages field="ctrl.form.descricao"></error-messages>	
		</div>
	</div>
	<hr />
	<div class="row">
	  <div class="col-md-12">
	  	<button type="submit" class="btn btn-primary">Salvar</button>
		<a ui-sref="tipoServico" class="btn btn-default">Cancelar</a>
	  </div>
	</div>	
</form>